/* Styles for Combinators section */

.box {
  width: 400px;
  height: 200px;
  background-color: rgb(100, 80, 0);
}

.box p {
  font-family: 'Georgia', serif;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 200px;
  text-align: center;
}

.countries > li {
  list-style: none;
  color: #333333;
}

.countries > li > ul > li {
  list-style-type: katakana;
  color: red;
}

.story  {
  width: 500px;
  height: 220px;
  background-color: #f3f3f3;
}

.content {
  width: 400px;
  min-height: 100px;
  margin: auto;
}

h4, h2 {
  font-family: 'Georgia', serif;
  font-weight: bold;
  line-height: 2em;
}

h2 {
    font-size: 1.8em;
    color: rgb(200, 200, 10);
}

h4 {
    font-size: 1.4em;
    color: rgb(10, 200, 10);
}

h4 + p {
  color: red;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 1.1em;
  line-height: 1.4em;
}

h2 ~ p {
    color: red;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 1.1em;
  line-height: 1.4em;
}